<ion-view class="form-background">
	<ion-nav-bar class="bar bar-header registerbar">
		<ion-nav-buttons side="left">
			<button class="button button-icon headerfontcolor" ng-click="back()"><i class=ion-ios-arrow-back></i> Login
            </button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content class="center form-background" scroll="false">
		<form class="form">
			<h2><i class=ion-ios-people></i> Reset Password</h2>
			<p>
				<input type="email" name="email" placeholder="Email" ng-model="reset.email">
			</p>
			<button value="forgotpwdmobile" class="button button-block loginbutton" ng-click="resetpasword(reset)">
				<i class=ion-checkmark-round></i> Reset
			</button>
		</form>
	</ion-content>
</ion-view>