<ion-view view-title="Login" class="form-background">
	<ion-content class="center" scroll="false">
		<form class="form">
			<!--					 action="https://localhost:8009/signin" method="POST"-->
			<!--					<h1>Login</h1>-->
			<img class="title-image logoalign" src="img/ValetBasketLogo.png">
			<h1>Valet Basket</h1>
			<div class="card" ng-show="wronguser">
				<div class="item existusercard item-divider">
					Incorrect Email or Password
					<br>Please Login again!
				</div>
			</div>
			<p>
				<input type="email" name="email" placeholder="Email" ng-model="loginData.email">
			</p>
			<p>
				<input type="password" name='password' placeholder="Password" ng-model="loginData.password">
			</p>
			<button value="Login" class="button button-block loginbutton" ng-click="callurl(loginData)">
				Login
			</button>
			<a href="" ng-click="forgotpassword()">Forgot Password?</a>
			<a href="" class="signupalign" ng-click="signup()">Signup!</a>
		</form>
	</ion-content>
</ion-view>